<template name="editProfile">
	{{> flashMessages}}
	<h3>Edit Profile {{userId}}</h3>
	<img class="img-circle" id="image" src="{{getProfileImg userId}}" height="200px" max-width="200px"> 
	<form class="edit-profile" id="edit-profile" enctype="multipart/form-data">
		Upload Profile Image: 
		<Input type="file" name="profileImage" id="profileImage" onchange="document.getElementById('theSubmitButton').click();"  >
		<br>
		<input type="submit" id="theSubmitButton" style="display: none;" value="Upload file">
	</form> 

	<br>
	  {{#unless this.isUploaded}}
	  {{> FS.UploadProgressBar bootstrap=true}}
	  {{/unless}}

	<h3>Edit Your Desc</h3>

	{{#autoForm collection="UserData" id="userDescUpdate" type="update" doc=this}}
	{{> afQuickField name= "userDesc" rows=6}}
	<button type="submit" class="btn btn-primary">Update</button>
	{{/autoForm}}

		{{>cropEditProfile}}

</template>


<template name ="cropEditProfile">
	<div class="modal fade" id="cropEditProfile">
		<div class="modal-dialog">
			<div class="modal-content">
				 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Crop your profile Image</h4>
				</div>
				<div class="modal-body" id="cropImg" >
				          <img src="{{c.url TempImageLoc}}">
				</div>
				 <div class="modal-footer">
				 	 <button type="button" id="cancelCrop" class="btn btn-default" data-dismiss="modal">Cancel</button>
       				 <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
 			    </div>
			</div>
		</div>
	</div>
</template>