<template name="userItems">

<ul class="nav nav-tabs body-container">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#"> Loves <span class="glyphicon glyphicon-heart" style="color:red"></span></a></li>
</ul>


<div class="items-container">

<!-- item box -->
  <div class="col-md-4">
      <div class="item-box">

         <div class="item-status">
          <div class="img-thumb pull-right">
            <img class="img-circle"  src="http://cdn9.lbstatic.nu/files/looks/medium/2015/11/20/4753240_duninu.jpg?1448054531" height="40px" width="40px">
          </div>
          <div class="item-status-text">
             Hello shit face lady that eats shit every day until it flows out of your mouth and then
          </div>
        </div>
        <div class='clearfix'></div>
        <img class="item-maxwidth"  src="http://41.media.tumblr.com/5f00b946b82bc1701f97988f5b59865d/tumblr_nf6malZ0y61shao85o1_540.jpg">
        <div class="item-textarea">
          <h4>Read Between The Lines Super Cool TShirt</h4>  
          Designed locally, LOVE SG incorporates a quirky part of Singapore into each product, blending local flavour with international appeal. The result is a bold, cheeky and slightly surprising collection of products that are 'Singaporean' enough to bring 
          <div class="coupon-box pull-right">
            <span class="pad-right20 coupon-title">10% OFF COUPON </span>
            <button type="button" class="btn btn-info" id="coupon-button">LYG1688</button>
          </div>
            <div class='clearfix'></div>
            <div class="greyLine"></div>
            <div class="buy-box">
              <button type="button" class="btn btn-warning">Buy</button>
                <span class="pad-left20">USD 20.89</span>
              <button type="button" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-heart" style="color:red"></span>
              </button>
            </div>
        </div>
      </div>
  </div>
<!-- item box -->
<!-- item box -->
  <div class="col-md-4">
      <div class="item-box">

         <div class="item-status">
          <div class="img-thumb pull-right">
            <img class="img-circle"  src="http://cdn9.lbstatic.nu/files/looks/medium/2015/11/20/4753240_duninu.jpg?1448054531" height="40px" width="40px">
          </div>
          <div class="item-status-text">
             Hello shit face lady that eats shit every day until it flows out of your mouth and then
          </div>
        </div>
        <div class='clearfix'></div>
        <img class="item-maxwidth"  src="http://41.media.tumblr.com/5f00b946b82bc1701f97988f5b59865d/tumblr_nf6malZ0y61shao85o1_540.jpg">
        <div class="item-textarea">
          <h4>Read Between The Lines Super Cool TShirt</h4>  
          Designed locally, LOVE SG incorporates a quirky part of Singapore into each product, blending local flavour with international appeal. The result is a bold, cheeky and slightly surprising collection of products that are 'Singaporean' enough to bring 
          <div class="coupon-box pull-right">
            <span class="pad-right20 coupon-title">10% OFF COUPON </span>
            <button type="button" class="btn btn-info" id="coupon-button">LYG1688</button>
          </div>
            <div class='clearfix'></div>
            <div class="greyLine"></div>
            <div class="buy-box">
              <button type="button" class="btn btn-warning">Buy</button>
                <span class="pad-left20">USD 20.89</span>
              <button type="button" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-heart" style="color:red"></span>
              </button>
            </div>
        </div>
      </div>
  </div>

<!-- item box -->
<!-- item box -->
  <div class="col-md-4">
      <div class="item-box">

         <div class="item-status">
          <div class="img-thumb pull-right">
            <img class="img-circle"  src="http://cdn9.lbstatic.nu/files/looks/medium/2015/11/20/4753240_duninu.jpg?1448054531" height="40px" width="40px">
          </div>
          <div class="item-status-text">
             Hello shit face lady that eats shit every day until it flows out of your mouth and then
          </div>
        </div>
        <div class='clearfix'></div>
        <img class="item-maxwidth"  src="http://41.media.tumblr.com/5f00b946b82bc1701f97988f5b59865d/tumblr_nf6malZ0y61shao85o1_540.jpg">
        <div class="item-textarea">
          <h4>Read Between The Lines Super Cool TShirt</h4>  
          Designed locally, LOVE SG incorporates a quirky part of Singapore into each product, blending local flavour with international appeal. The result is a bold, cheeky and slightly surprising collection of products that are 'Singaporean' enough to bring 
          <div class="coupon-box pull-right">
            <span class="pad-right20 coupon-title">10% OFF COUPON </span>
            <button type="button" class="btn btn-info" id="coupon-button">LYG1688</button>
          </div>
            <div class='clearfix'></div>
            <div class="greyLine"></div>
            <div class="buy-box">
              <button type="button" class="btn btn-warning">Buy</button>
                <span class="pad-left20">USD 20.89</span>
              <button type="button" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-heart" style="color:red"></span>
              </button>
            </div>
        </div>
      </div>
  </div>

<!-- item box -->
</div>


</template>