/*	border:1px solid green;*/
.modalCrop-body {
	height:300px;
}

.modalSubmit-body {
	height:150px;
	background-color: #F4F3F3;

}
.profile-container {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.body-container {
	padding-left: 30px;
	padding-right: 30px;
}

.follow-container {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
}

.items-container {
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	/*border:1px solid green; */
}

.cropper-ProfileImg {
	width: 400px;
	height: 400px;
}

/*Form CSS, Item Box CSS*/

.item-box {
	padding-bottom: 20px;
	max-width: 400px; 
	border-radius: 10px;
	border:1px solid #ccc;
	margin-bottom: 30px;
}

.item-textarea {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.item-maxwidth {
	max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.item-status {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	vertical-align: middle;
	background-color: #F7EBD2;
	border-radius: 10px 10px 0 0;
}

.item-status-text {
	padding-right: 50px;
}

.submit-item-box {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 768px; 
}

.submit-image-box {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 768px; 
	border-radius: 10px;
	border:1px solid #ccc;
	margin-bottom: 30px;
}

.submit-coupon-box {
	padding-top: 20px;
}

.submit-uploadImage {
	background-color: #F4F3F3;
	border-style: solid;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 2px dotted #979797;
	width: 50%;
	text-align: center;

}

.submit-addWebImage {
	background-color: #F4F3F3;
	width: 50%;
	text-align: center;
}

.title-field {
	border-style:solid;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-bottom-width: 3px;
	box-shadow: none;
	border-bottom-color: #000000;
}

.title-field:focus {
  outline: 0;
  -webkit-box-shadow: none;
  border-bottom-color: #000000;
  box-shadow: none;
}

.form-grey{
	background-color: #D8D8D8;
	border-style:solid;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	box-shadow: none;
}

.form-grey:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cleanForm{
	border-style:solid;
	box-shadow: none;
}

.cleanForm:focus{
  outline: 0;
  -webkit-box-shadow: none;
  border-style:solid;
  border-color: #cccccc;
  box-shadow: none;
}

.form-top-bottom{
	margin-bottom: 10px;
	margin-top: 10px;
}

.form-50{
	width: 50%;
}
.form-45{
	width: 45%;
}
.coupon-box {
	padding-top: 20px;
	padding-bottom: 20px;
}

#coupon-button {
	border:1px;
	border-style: dashed;
	border-color: #007DFF;
}

.buy-box {
	padding-top: 20px;
	vertical-align: text-top;
}

.glyphiconRight-input {
    border-right: 0;
}

.glyphiconClear-icon {
    border-left:0 solid transparent;
    background:transparent;
}

.glyphiconGrey-icon {
    border-left:0 solid transparent;
    background-color: #D8D8D8;
}

/*CSS Misc Items*/

.greyLine {
     background: #ccc; 
     width: 100%; 
     height: 1px;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bold-text {
   font-weight: bold;
}

.pad-gap30 {
	padding-bottom: 20px;
}

.pad-right20 {
	padding-right: 20px;
}

.pad-left20 {
	padding-left: 20px;
}

/* Nav bars */
.12dropdown-menu {
  min-width:100%;
}


/* Text tweaks */

textarea {
    resize: none;
}

#profile-col h2 {
   margin-top: 0;
}

.item-titles h3 {

}

.coupon-title {
	color:#007DFF;
}

.glyphicon-75 {
	font-size: 75px;
}

.glyphiconLink {
	color: #616161;
}

.glyphiconLink:hover {
	color: #616161;
	cursor: hand;
    cursor: pointer;
    opacity: .5;
}